/* --- STYLES --- */
/* search for --- when lookin for specific sections. */

/* --- Colour theme --- */
/* 
background:  #edf2f4;
text:   #042D42;
title/highlight: #BA3F1D;
alt background:  #D9E4E8; #8D99AE;


/* --- Global//Reset Styles --- */

body, html {
    width: 100%;
    background-color: #F6F6F3;
    background-color: #edf2f4;
    color: rgb(67, 73, 77);
    color: #042D42;

}
/* box sizing border-box for all elements */
*,
*::before,
*::after{box-sizing:border-box;}

a{text-decoration:none; color:inherit; cursor:pointer;}
button{background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer;}
figure{margin:0;}
input::-moz-focus-inner {border:0; padding:0; margin:0;}
ul, ol, dd{margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
p{margin:0;}
cite {font-style:normal;}
fieldset{border-width:0; padding:0; margin:0;}

/* --- Typography ---*/

html{ 
    font-size: 1px;/*for using REM units*/
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15rem;
    font-weight: 400;
    line-height: 1.5;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* --- Main Styles --- */

h1, h2, h3 {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.section {
    display: flex;
    justify-content: center;
    padding: 100px 170px;
}

/*
@media screen and (max-width:1280px) {
	.section {
		padding: 100px
	}
}

@media screen and (max-width:1024px) {
	.section {
		padding: 50px
	}
}

@media screen and (max-width:768px) {
	.section {
		display: block
	}
}

@media screen and (max-width:480px) {
	.section {
		padding: 50px 35px
	}
}
*/


.section-title {
	flex-shrink: 0;
	color: #BA3F1D;
	text-transform: uppercase;
	text-align: left;
	font-weight: 700;
    letter-spacing: 3px;
    font-size: 1.8em;
    margin-block-end: 1em;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row-item {
    flex: 1 1 100px;
}

.row-item + .row-item {
    margin-left: 5%;
}

.row-item p {
    margin-top: 0px;
    margin-bottom: 25px;
}

/* --- Utilities --- */
a {
    -webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	text-decoration: none;
	font-weight: 700;
	color: inherit
}

.emoji {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.button {
    display: inline-block;
    border: 1px solid #BA3F1D;
    padding: 0.75em 1em;
    border-radius: 0.33333em;
    text-decoration: none;
    color: #BA3F1D;
    
}

.button:hover {
    text-decoration:none;
    border:1px solid #F05D5E;
    color: #F05D5E;
    background-color: #E6EEF0;
}

.section .underline-link {
	position: relative;
	display: inline-block
}

.section .underline-link:after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #36363c;
	content: '';
	opacity: 0;
	-webkit-transition: height .3s,opacity .3s,-webkit-transform .3s;
	transition: height .3s,opacity .3s,-webkit-transform .3s;
	transition: height .3s,opacity .3s,transform .3s;
	transition: height .3s,opacity .3s,transform .3s,-webkit-transform .3s;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px)
}

.section .underline-link:focus:after,.section .underline-link:hover:after {
	height: 2px;
	border-radius: 3px;
	opacity: 1;
	-webkit-transform: translateY(-2px);
	transform: translateY(-2px)
}

/* --- Intro/Header ---*/

.intro {
   height: 100vh;
   display: flex;
   flex-direction: column;
   max-width: 1440px;
   padding: 120px 100px;
   margin: 0px auto;
   justify-content: space-around;
}

.hello {
    font-weight: 500;
    font-size: 2em;
    font-size: 3em; /* 45px */
    font-family: 'Playfair Display', serif;
}

.wave {
    background-image: url(../img/Emojis/wave.png);
    margin-left: 15px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.tagline {
    font-weight: 500;
    font-size: 1.3333em;
    font-size: 2.3333em; /* 35px */
    max-width: 800px;
    line-height: 1.8;
    margin-block-end: 0.2em;
}

.tagline .name {
    font-weight: 700;
}

.intro_links {
    font-weight: 400;
    font-size: 1.25em;
}

.call-me {
    background-image: url(../img/Emojis/callme.png);
    margin-left: 10px;
    vertical-align: sub;
    cursor: pointer;
    width: 35px;
    height: 35px;
}


/* --- About Me --- */

.about {
    flex-direction: column;
    background-color: #D9E4E8;
    padding: 100px 15%;
}

.about-row {
    flex-wrap: wrap-reverse;
}

.about-row p{
    font-size: 15rem;
}

.about-text{
    flex-grow: 10;
}

#profile-pic {
    max-width: 350px;
    height: auto;
}

/* --- Skills --- */

.skills {
    flex-direction: column;
    padding: 100px 15%;
}

.skill-row {
    flex-direction: row;
    justify-content: space-between;
}

.skill-name {
    text-transform: uppercase;
	text-align: left;
	font-weight: 700;
    font-size: 1.2em;
}

